/* start variables  */
:root {
    --main-color: #00c7fc;
    --second-color: #fff;
}
/* end variables  */
/* start global rules  */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0 0 0 / 60%);
}
/* end global rules  */
/* start grid system  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end grid system  */
/* start component  */
.main-heading {
    text-align: center;
}
.main-heading .head {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
}
.main-heading .head::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
}
.main-heading .head::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}
.main-heading .head + p {
    line-height: 2;
    width: 550px;
    margin: 0 auto 100px;
    color: #777;
    max-width: 100%;
}
/* end component  */
/* start header  */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 98px;
}
header .container::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 0;
    width: calc(100% - 30px);
    height: 2px;
    background-color: var(--second-color);
}
header img {
    height: 40px;
}
header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav .toggle-menu {
    color: var(--second-color);
    cursor: pointer;
    font-size: 20px;
}
header nav ul {
    display: flex;
}
@media (max-width: 767px) {
    header nav ul {
        display: none;
    }
    header nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
    }
    header nav ul li a {
        padding: 15px !important;
    }
}
@media (min-width: 768px) {
    header nav .toggle-menu  {
        display: none;
    }
}
header nav ul li a{
    display: block;
    color: var(--second-color);
    padding: 40px 10px;
    font-size: 14px;
    text-transform: capitalize;
    transition: .3s;
    position: relative;
}
header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    z-index: 2;
}
header .form {
    width: 40px;
    position: relative;
    height: 30px;
    margin-left: 30px;
    border-left: 1px solid var(--second-color);
}
header .form i {
    color: var(--second-color);
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}
/* end header  */
/* start landing page */
.landing {
    background-image: url('../imgs/landing.jpg');
    background-size: cover;
    min-height: 100vh;
    background-color: #555;
    position: relative;
}
.landing .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    left: 0;
    color: var(--second-color);
    background-color: rgb(15 116 143 / 70%);
    padding: 50px;
    display: flex;
    justify-content: flex-end;
}
.landing .content .text{
    max-width: 500px;
}
@media (max-width: 767px){
    .landing .content {
        width: 100%;
    }
    .landing .content .text {
        max-width: 100%;
    }
}
.landing .text h2 {
    font-size: 30px;
    line-height: 1.5;
    font-weight: normal;
    margin-bottom: 30px;
}
.landing .text p {
    line-height: 2;
    font-size: 14px;
    color: var(--second-color);
}
.landing .fa-angle-left {
    left: 30px;
}
.landing .fa-angle-left,
.landing .fa-angle-right {
    color: #fff;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}
.landing .fa-angle-right{
    right: 30px;
}
@media (max-width: 767px) {
    .landing .change-background{
        display: none;
    }
}
.landing .bullets {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.landing .bullets span {
    width: 25px;
    height: 25px;
    display: inline-block;
    border: 2px solid var(--second-color);
    border-radius: 50%;
    margin-right: 2px;
    cursor: pointer;
    transition: .3s;
}
.landing .bullets span.active,
.landing .bullets span:hover {
    background-color: var(--main-color);
}
/* end landing page */
/* start services section  */
.services {
    padding: 60px 0;
}
@media (min-width: 768px) {
    .services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
}
}
.services .row {
   display: flex; 
}
.services .row i {
    font-size: 45px;
    margin-right: 40px;
}
@media (max-width: 767px) {

    .services .row {
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .services i {
        margin: 0 0 40px 0;
    }
}
.services .text h3{
    color: var(--main-color);
    margin-bottom: 30px;
}
.services .text p {
    line-height: 2;
    color: #777;
}
/* end services section  */
/* start design  */
.design {
    background-image: url('../imgs/design-features.jpg');
    background-size: cover;
    height: 600px;
    padding: 60px 0;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}
@media (max-width: 767px) {}
.design .image {
    text-align: center;
    bottom: -150px;
}
@media (max-width: 991px) {
    .design .image {
        display: none;
    }
    .design .content {
        padding: 20px;
    }
}
.design .image,
.design .content {
    position: relative;
    z-index: 2;
    flex: 1;
}
.design .content {
    color: var(--second-color);
    padding: 50px;
    background-color: rgb(15 116 143 / 70%);
}
.design .content h2 {
    font-weight: normal;
    margin-bottom: 40px;
}
.design .content ul li {
    margin-bottom: 30px;
    font-weight: bold
}
.design .content ul li::before {
    content: "\f108";
    position: relative;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 30px;
}
/* end design  */
/* start portfolio  */
.portfolio {
    padding: 60px 0;
}
.portfolio .shuffle {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.portfolio .shuffle li {
    padding: 10px;
    cursor: pointer;
    transition: .3s;
}
.portfolio .shuffle li.active, 
.portfolio .shuffle li:hover {
    background-color: var(--main-color);
    color: var(--second-color);
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.image-container .box {
    position: relative;
    overflow: hidden;
}
@media (min-width: 768px) {
    .image-container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 1199px) {
    .image-container .box {
        flex-basis: 25%;
    }
}
.image-container .box img {
    max-width: 100%;
    transition: .3s;
}
.image-container .text {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -120px;
    padding: 20px;
    transition: .3s;
    background-color: var(--second-color);
}
.image-container .box:hover .text {
    bottom: 0;
}
.image-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
}
.image-container .text h3 {
    font-weight: normal;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.image-container .text p {
    color: var(--main-color);
}
.portfolio a {
    display: block;
    margin:  30px auto;
    width: fit-content;
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 15px;
    text-transform: uppercase;
    transition: .3s;
}
.portfolio a:hover {
    opacity: .7;
}
/* end portfolio  */
/* start video section  */
.video {
    position: relative;
}
.video video {
    width: 100%;
}
.video .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 50px;
    color: var( --second-color);
    background-color: rgb(15 116 143 / 70%);
}
.video .text h2 {
    font-weight: normal;
    text-transform: uppercase;
}
.video .text p {
    margin: 20px 0;
}
.video .text button {
    background-color: #000;
    color: var(--second-color);
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
}
/* end video section  */
/* start about section  */
.about {
    padding-top: 60px;
}
.about .img-container {
    text-align: center;
    overflow: hidden;
}
.about .img-container img {
    max-width: 100%;
    position: relative;
    bottom: -120px;
    margin-top: -120px;
}
/* end about section  */
/* start stats section  */
.stats {
    background-image: url('../imgs/stats.png');
    background-size: cover;
    position: relative;
    text-align: center;
    padding: 60px 0;
    color: var(--second-color);
}
.stats .boxes-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.stats .boxes-container .box {
    flex: 1;
    background-color: rgb(15 116 143 / 70%);
    padding: 50px
}
@media (max-width: 767px) {
    .stats .boxes-container .box {
        flex-basis: 100%;
    }
}
@media (min-width: 768px) {
    .stats .boxes-container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 992px) {
    .stats .boxes-container .box {
        flex-basis: 25%;
    }
}
.stats .boxes-container .box i {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto 30px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.stats .boxes-container .box h3 {
    font-size: 40px;
    margin-bottom: 20px
}
.stats .boxes-container .box p {
    font-size: 14px;
}
/* end stats section  */
/* start testimonial section  */
.testimonial {
    padding: 60px 0;
}
.testimonial .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fill, minmax(450px, 1fr)); */
    /* grid-row-gap: 40px; */
    /* grid-column-gap: 61px; */
}

.testimonial .content{
    text-align: center;
    margin-bottom: 60px
}
.testimonial .content h2 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 30px;
}
.testimonial .content p {
    margin-bottom: 30px;
    color: #777;
}
@media (min-width: 992px) {
    .testimonial .testi,
    .testimonial .skills {
        flex-basis: 45%;
    }
}
.testi .persons {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 40px;
}
.testi .persons img {
    width: 80px;
    border-radius: 50%;
    margin-right: 50px
}
.testi .persons .text {
    border-bottom: 1px solid #777;
}
.testi .persons .text p {
    line-height: 1.8;
    font-weight: 530;
}
@media (max-width: 767px) {
    .testi .persons {
        flex-direction: column;
        text-align: center;
    }
    .testi .persons img {
        margin: 0 auto 20px;
    }
    .testi .persons .text p {
        margin-bottom: 15px;
    }
}
.testi .persons .text span {
    text-align: right;
    display: block;
    margin-bottom: 15px
}
.testimonial .bullets {
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}
.testimonial .bullets span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #777;
    cursor: pointer;
    transition: .3s;
}
.testimonial .bullets span.active,
.testimonial .bullets span:hover {
    background-color: var(--main-color);
}
.skills .percent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 80px
}
.skills .block h4{
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 15px;
}
.skills .block .triangle{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #f5f5f5;
    height: 30px;
    margin-bottom: 30px;
}
.skills .triangle span{
    display: block;
    position: absolute;
    width: 86%;
    left: 0;
    height: 100%;
    top: 0;
    background-color: var(--main-color);
}
.skills .block span::before {
    position: absolute;
    content: attr(data-progress);
    background-color: #000;
    right: 0;
    top: -44px;
    width: 45px;
    height: 30px;
    display: flex;
    color: var(--second-color);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.skills .block span::after {
    position: absolute;
    content: "";
    border-width: 8px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
    top: -14px;
    right: 13px; 
}
/* end testimonial section  */
/* start qoute section  */
.qoute {
    background-image: url('../imgs/quote.jpg');
    background-size: cover;
    position: relative;
    padding: 60px 0;
    text-align: center;
    color: var(--second-color);
}
.qoute .container {
    position: relative;
}
.qoute q {
    font-size: 32px;
    margin-bottom: 20px;
    display: block;
}
/* end qoute section  */
/* start pricing section  */
.pricing {
    padding: 60px 0;
}
@media (min-width: 768px) {
    .pricing .boxes-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 25px;
        text-align: center
    }
}
.pricing .boxes-container .box {
    background-color: #f5f5f5;
    text-align: center;
    padding: 30px;
}
.pricing .box .price {
    position: relative;
}
.pricing .box .price::before{
    position: absolute;
    content: "";
    width: calc(100% + 60px);
    height: 1px;
    background-color: var(--main-color);
    top: -31px;
    left: -30px;
}
.pricing .box .price::after{
    position: absolute;
    content: "";
    width: calc(100% + 60px);
    height: 1px;
    background-color: var(--main-color);
    left: -30px;
}
.pricing .box .price h3 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 20px;
}
.pricing .box .price p{
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    left: 10%;
    top: 25%
}
.pricing .text {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
}
.pricing .text span{
    font-size: 18px;
    text-transform: uppercase
}
.pricing .feature {
    position: relative;
}
.pricing .feature:after {
    position: absolute;
    content: "";
    width: calc(100% + 60px);
    height: 1px;
    background-color: var(--main-color);
    left: -30px;
}
.pricing .box .feature li{
    padding: 20px 0;
    text-transform: capitalize;
}
.pricing .box .feature li:not(:last-child) {
    border-bottom: 1px solid var(--main-color);
}
.pricing .buy {
    margin: 20px 0 0;
    background-color: var(--second-color);
    border: 1px solid var(--main-color);
    padding: 15px 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.pricing .contact {
    text-align: center;
    margin-top: 30px
}
.pricing .contact p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}
.pricing .contact a {
    background: var(--main-color);
    color: var(--second-color);
    padding: 10px 20px;
    text-transform: capitalize;
    transition: .3s;
}
.pricing .contact a:hover {
    opacity: .7;
}
/* end pricing section  */
/* start subscribe section  */
.subscribe {
    padding: 100px 0;
    background-image: url('../imgs/subscribe.jpg');
    background-size: cover;
    position: relative;
    color: var(--second-color);
}
.subscribe .container {
    display: flex;
    align-items: center;
    position: relative;
}
.subscribe form {
    display: flex;
    width: 500px;
    max-width: 100%;
    position: relative;
}
.subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 65px;
}
.subscribe form input.text {
    border: 1px solid white;
    border-right: none;
    background: none;
    padding: 20px 20px 20px 60px;
    width: calc(100% - 130px);
    color: #fff;
}
.subscribe form input.submit {
    width: 130px;
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
}
.subscribe .text {
    line-height: 2;
    margin-left: 50px;
}
@media (max-width: 991px) {
    .subscribe .container {
        flex-direction: column;
    }
    .subscribe form {
        margin-bottom: 30px;
    }
}
/* end subscribe section  */
/* start contact section */
.contact {
    padding: 60px 0;
}
.contact .contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form {
    flex-basis: 70%;
}
.contact form input,
.contact form textarea {
    display: block;
    width: 100%;
    padding: 25px 20px;
    margin-bottom: 20px;
    border: 1px solid #999;
    outline: 0;
    text-transform: capitalize;
}
.contact form textarea {
    height: 200px; 
}
.contact .submit {
    background-color: var(--main-color);
    color: var(--second-color);
    width: fit-content;
    margin-left: auto;
    padding: 25px 30px;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}
.contact .info {
    flex-basis: 25%;
}
@media (max-width: 767px) {
    .contact .contact-container {
        flex-direction: column;
    }
    .contact .info {
        order: -1;
        text-align: center;
    }
}
.contact .info .box {
    margin-bottom: 75px;
}
.contact .info .box h4 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
}
.contact .info .box p {
    color: #888;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.contact .info .box:nth-child(2) p {
    font-style: italic;
}
/* end contact section */
/* start footer section  */
footer{
    padding: 60px 0;
    background-image: url('../imgs/subscribe.jpg');
    background-size: cover;
    position: relative;
    text-align: center;
    color: var(--second-color);
}
footer .container {
    position: relative;
}
footer .img{
    margin-bottom: 50px;
}
footer .img img{
    max-width: 100%;
}
footer .head {
    border-bottom: 1px solid var(--second-color);
    width: fit-content;
    margin: auto;
    padding: 0px 25px;
    text-transform: uppercase;
}
footer .head h3 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 22px;
}
footer .icons {
    margin: 20px 0;
}
footer .icons i {
    display: inline-block;
    padding: 20px;
    font-size: 20px;
}
footer .text {
    text-transform: capitalize;
    font-weight: 600;
}
footer .text span {
    color: var(--main-color);
}
/* end footer section  */
